BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
IncludeBlocks: Preserve
DerivePointerAlignment: false
AllowShortFunctionsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SpacesBeforeTrailingComments: 1
