BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
IncludeBlocks: Preserve
DerivePointerAlignment: false
AllowShortFunctionsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
SpacesBeforeTrailingComments: 1
AlignConsecutiveAssignments: None
AlignTrailingComments: Leave
SortIncludes: false
